html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    user-select: none;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.night {
    --primary-color: #ebe6e6;
    --primary-bakground: #424242;
    --cover: rgb(145, 47, 60);
    --book: #c9c4c4;
}

.light {
    --primary-color: #424242;
    --primary-bakground: #ebe6e6;
    --cover: rgb(201, 63, 81);
    --book: #efefef;
}

body {
    /* width: 360px; */
    height: 100%;
    margin: auto;
    background-color: var(--primary-bakground);
}


#get-light {
    font-size: 25px;
    color: rgb(248, 247, 159);
    text-align: center;
}

#get-night {
    font-size: 20px;
    color: rgb(61, 61, 59) !important;
    text-align: center;
    height: 30px;
}

.hidden {
    display: none;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

#theme {
    text-align: center;
    padding: 15px;
    font-size: 15px;
}

p {
    width: 80px;
    height: 40px;
    padding: 10px;
    margin: auto;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
}

#game {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 56px);
    gap: 10px;
    width: 280px;
}

.item {
    box-shadow: 5px 8px 8px 0 rgba(8, 2, 0, 0.4), 0 6px 20px 0 rgba(8, 0, 2, 0.4);
    border-radius: 12px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    background-color: var(--book);
    font-weight: bold;
}

.cover {
    /* background-image: url("https://images.unsplash.com/photo-1467151568115-d968fdf5d292?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzgyfHxibHVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
     background-size: cover; */
    background-color: var(--cover);
    /*   color:rgb(221, 54, 96) !important; */
}